.button-add-account {
  margin-right: auto;
}
.example-form {
  padding: 50px;
}


.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.fields-form-movements {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
}


.fields-form-movements-second-radio {
  margin-left: 30px !important;
}
