footer {
  position: fixed;
  bottom: 0px;
  background-color: #7700FF;
  width: 100%;
  padding: .5em;
  color: white;
  font-size: 12px;

  .footer-link {
    float: right;
    color: white;
  }

}
