<h2 mat-dialog-title>Create a new bank account</h2>
<mat-dialog-content>
  <form class="example-form">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Bank account number" [formControl]="ibanControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="ibanControl.hasError('minlength') && !ibanControl.hasError('required')">
        Please enter a valid IBAN (24 characters)
      </mat-error>
      <mat-error *ngIf="ibanControl.hasError('required')">
        IBAN is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br><br>

    <mat-form-field style="width: 100%;" class="example-full-width">
      <input matInput placeholder="Description" [formControl]="descriptionControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="descriptionControl.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br><br>

    <mat-form-field style="width: 100%;" class="example-full-width">
      <input matInput placeholder="Amount (Euros)" [formControl]="amountControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="amountControl.hasError('required')">
        Amount is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    [disabled]="ibanControl.hasError('minlength') || ibanControl.hasError('required') || descriptionControl.hasError('required')"
    mat-button cdkFocusInitial (click)="storeAccountToCustomerInContext()">Save
  </button>
</mat-dialog-actions>
