<h2 mat-dialog-title>Account manager</h2>
<mat-dialog-content  >
  <h3>Create new account !</h3>

  <form class="example-form" (ngSubmit)="createCustomer()">

    <mat-form-field style="width: 100%;" class="example-full-width">

      <input matInput placeholder="Bank account number" [formControl]="ibanControl"
             [errorStateMatcher]="matcher">

      <mat-error *ngIf="ibanControl.hasError('minlength') && !ibanControl.hasError('required')">
        Please enter a valid IBAN (24 characters)
      </mat-error>
      <mat-error *ngIf="ibanControl.hasError('required')">
        IBAN is <strong>required</strong>
      </mat-error>




    </mat-form-field>
<br><br>

    <mat-form-field style="width: 100%;" class="example-full-width">

    <input matInput placeholder="Description" [formControl]="descriptionControl"
           [errorStateMatcher]="matcher">

    <mat-error *ngIf="descriptionControl.hasError('required')">
      Description is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <br><br>

  <mat-form-field style="width: 100%;" class="example-full-width">
  <input matInput placeholder="Amount (Euros)" [formControl]="amountControl"
         [errorStateMatcher]="matcher">

  <mat-error *ngIf="amountControl.hasError('required')">
    Amount is <strong>required</strong>
  </mat-error>
</mat-form-field>





  </form>
  <!--
  accounts: [{
  number: {
    type: String
  },
  total_amount: {
    type: String
  },
  movements: [{
    description: {
      type: String
    },
    amount: {
      type: String
    }
  }]
}],-->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="ibanControl.hasError('minlength') || ibanControl.hasError('required') || descriptionControl.hasError('required')"
  mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="storeAccountToCustomerInContext()">Save</button>
</mat-dialog-actions>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
