<div class="elevator-container"
    [class.mat-elevation-z2]="isActive"
    [class.mat-elevation-z8]="!isActive">


<form (submit)="login()">
  <div class="form-group">
    <label class="text-control" for="email">BankApp address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter BankApp address" [(ngModel)]="credentials.email">
  </div>
  <div class="form-group">
    <label class="text-control" for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
  </div>
  <!--<button type="submit" class="btn btn-default">Sign in!</button>-->
  <input type="submit" value="Sign in!" class="cta">
</form>


</div>
