<header>
  <div class="container">
    <a *ngIf="getAuth().isLoggedIn()" routerLink="/" class="logo">{{appTitle}}</a>
    <a *ngIf="!getAuth().isLoggedIn()" routerLink="/login" class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li *ngIf="getAuth().isLoggedIn()"><a routerLink="/">Home</a></li>
        <li *ngIf="getAuth().isLoggedIn()"><a routerLink="/customer">Customer</a></li>
        <li *ngIf="!getAuth().isLoggedIn()"><a routerLink="/login">Login</a></li>


        <li *ngIf="getAuth().isAdmin()"><a routerLink="/register">Register</a></li>

        <li *ngIf="getAuth().isLoggedIn()"><a routerLink="/profile">Profile</a></li>
       <!-- <li *ngIf="getAuth().isLoggedIn()"><a routerLink="/about">About</a></li>
        <li *ngIf="getAuth().isLoggedIn()"><a routerLink="/contact">Contact us</a></li>-->
        <li *ngIf="getAuth().isLoggedIn()"><a routerLink="/login" (click)="logout()">Log out</a></li>

      </ul>
    </nav>
  </div>
</header>
