<h2 mat-dialog-title>Please, fill out the activity form below:</h2>
<mat-dialog-content>

  <form class="example-form-profile">

    <div class="fields-form-movements-profile">
      <mat-radio-group aria-label=""   name="group" ngModel required #group="ngModel"><br>
        Choose a group to add the activity<br>
        <br>

        <mat-radio-button value="familiar">Familiar</mat-radio-button>
        <mat-radio-button  style="padding-left: 20px;" class="fields-form-movements-second-radio"
                           value="economical">Economical
        </mat-radio-button>

      </mat-radio-group>
      <br><br>


      <mat-form-field class="customer-advisor-combo-list example-full-width">
        <mat-label>Activity:
        </mat-label>
        <mat-select [formControl]="activityControl" required>
          <mat-option>Select an activity to proceed</mat-option>
          <mat-option *ngFor="let activity of activities" [value]="activity">
            {{activity.toUpperCase()}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="activityControl.hasError('required')">Please choose an Activity</mat-error>
        <mat-hint>{{activityControl.value?.sound}}</mat-hint>
      </mat-form-field>

      <br><br>


      <mat-form-field style="width: 100%;" class="example-full-width">
        <input matInput placeholder="Description" [formControl]="descriptionControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="descriptionControl.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="descriptionControl.hasError('minlength') && !descriptionControl.hasError('required')">
          The description require <strong>10</strong> characters
        </mat-error>
      </mat-form-field>


<!--
      <mat-radio-group aria-label=""  name="derivative" ngModel required #derivative="ngModel"><br>
        The customer has any knowledge about <strong>derivative</strong> products:<br>
        <br>

        <mat-radio-button value="yes">Yes</mat-radio-button>
        <mat-radio-button style="padding-left: 20px;" class="fields-form-movements-second-radio"
                          value="no">No
        </mat-radio-button>

      </mat-radio-group>
      <br>


      <mat-radio-group aria-label="" name="loan" ngModel required #loan="ngModel"><br>
        The customer has requested <strong>bank loan</strong> previously?

        <br><br>

        <mat-radio-button value="yes">Yes</mat-radio-button>
        <mat-radio-button style="padding-left: 20px;" class="fields-form-movements-second-radio"
                          value="no">No
        </mat-radio-button>

      </mat-radio-group>
      <br>


      <mat-radio-group aria-label=""  name="income" ngModel required #income="ngModel"><br>
        The customer has an income of <strong>more than 30000€</strong> per year?

        <br><br>

        <mat-radio-button value="yes">Yes</mat-radio-button>
        <mat-radio-button style="padding-left: 20px;" class="fields-form-movements-second-radio"
                          value="no">No
        </mat-radio-button>

      </mat-radio-group>
      <br>


      <mat-radio-group aria-label="" name="insurance"  ngModel required #insurance="ngModel"><br>
        The customer has any <strong>home insurance</strong> contracted?

        <br><br>

        <mat-radio-button value="yes">Yes</mat-radio-button>
        <mat-radio-button required="insurance" style="padding-left: 20px;" class="fields-form-movements-second-radio"
                          value="no">No
        </mat-radio-button>

      </mat-radio-group>
      <br>-->

    </div>

    <br><br>


  </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="activityControl.hasError('required') || group.errors?.required || descriptionControl.hasError('required') || descriptionControl.hasError('minlength')"

          mat-button cdkFocusInitial (click)="createTask()">Save
  </button>
</mat-dialog-actions>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license -->
