app-bar-chart {
  #chart {
    height: inherit;
    width: inherit;

    .bar {
      fill: #7700FF;
    }

    .bar:hover {
      fill: aliceblue;
    }

    .axis--x path {
      display: none;
    }
  }
}
