<mat-list *ngIf="showCommercialInformationWidget" class="commercial-information-list-style">
  <mat-list-item class="commercial-information-risk-money-font">Office:
    <span class="commercial-information-results-color-text">&emsp;{{ dataCommercialInformation.customerOffice }}</span>
  </mat-list-item>
  <mat-divider style="margin-top: 10px;"></mat-divider>
  <mat-list-item  style="height: 40px;"         class="commercial-information-risk-money-font">
    Level of exposure to risk of money-laundering:
    <span class="commercial-information-results-color-text">&emsp;{{ dataCommercialInformation.customerRiskLaundering }}</span>
  </mat-list-item>
  <mat-list-item  style="height: 0px;" class="commercial-information-risk-money-font">
    Revision date:  <span class="commercial-information-results-color-text">&emsp;{{ dataCommercialInformation.customerRevisionDate }}</span>
  </mat-list-item>
  <mat-divider style="margin-top: 30px;"></mat-divider>
  <mat-list-item style="height: 30px;" class="commercial-information-risk-money-font">Profile of Convenience:</mat-list-item>
  <mat-list-item style="height: 0px;" class="commercial-information-risk-money-font">Knowledge and Experience</mat-list-item>
  <mat-list-item style="margin-top: 10px; height: 30px;" class="commercial-information-products-font">Profile status:
    <span class="commercial-information-results-color-text">&emsp;{{ dataCommercialInformation.derivatives[0] }}</span>
  </mat-list-item>
  <mat-list-item style="height: 0px;" class="commercial-information-products-font">Products:
    <span class="commercial-information-results-color-text">&emsp;{{ dataCommercialInformation.derivatives[1] }}</span>
  </mat-list-item>
</mat-list>


<div #commercialinformation id="commercialinformation" (window:resize)="onResize()"></div>
