.gray {
    color: gray;
}
.large {
    font-size: 4em;
}
ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(238, 238, 238);
        padding: 2em;
        border-radius: 4px;
        margin-bottom: 7px;
        display: grid;
        grid-template-columns: 60px auto;

        p {
            font-weight: bold;
            margin-left: 20px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}
.home-search-customer {
  width: 30%;
  margin-left: auto;
  height: 100%;
}
.home-customer-info {
  width: 70%;
  margin-right: auto;
  height: 100%;
}

.home-customer-container {
  height: 150px;
  width: 100%;
}
.customer-form-find {
  width: 100%;
  margin-top: -280px;
}
.input-find-style {
  margin-left: 10px;
  height: 10px;
  padding: 1em;
}
.customer-button-search {
  background: #7700FF;
  border: none;
  color: white;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  border-radius: 4px;
  margin-left: 10px;
  padding: 0.4em;
  cursor: pointer;
  font-family: 'Montserrat';
}
.customer-find-label {
  margin-left: -65px;
  margin-top: 18px;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url(../../assets/home_assets/customer_icon.png);
  background-size: cover;
  margin-top: 8px;
}
.name-logo-style {
  width: 270px;
  background-color: aliceblue;
  height: inherit;
}
.header-name-logo-style {
  margin-left: 42px;
}
.title-info-style {
  font-size: 15px;
}
