<!--<div class="home-customer-container">
-->


<!--  <div class="home-customer-container">
    <span class="home-search-customer">hello</span>
    <span class="home-customer-info">hello</span>

  </div>-->



<!-- Material Grid List -->
    <!--<h2 class="example-h2">Material Grid List</h2>-->
      <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: gray;">
        Search
      </mat-grid-tile>
      <mat-grid-tile class="grid-test-1" [colspan]="3" [rowspan]="1" style="background-color: darkgray;">
        Info
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>


<br><br>

      <mat-card-content>
    <!--<h2 class="example-h2">Material Grid List</h2>-->
    <mat-grid-list cols="3" rowHeight="120px">


      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="2" style="background-color: darkgray;">
        Graphic
      </mat-grid-tile>
      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="2" style="background-color: gray;">
        Relations
      </mat-grid-tile>
      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="2" style="background-color: darkgray;">
        Portfolio
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

<br><br>
  <mat-card-content>
<!--<h2 class="example-h2">Material Grid List</h2>-->
<mat-grid-list cols="1" rowHeight="50px">


  <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: darkgray;">
    Global position
  </mat-grid-tile>
</mat-grid-list>
</mat-card-content>


<!-- /Material Grid List -->
<!--
<h1 [style.color]="h1Style ? 'gray': 'black'">Home</h1>
<button (click)="firstClick()">Click me</button>
<button (click)="invokePost()">Test POST </button>

<h1>Users</h1>

<ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
  </li>
</ul>-->
