<!--<div class="home-customer-container">
-->


<!--  <div class="home-customer-container">
    <span class="home-search-customer">hello</span>
    <span class="home-customer-info">hello</span>

  </div>-->



<!-- Material Grid List -->
    <!--<h2 class="example-h2">Material Grid List</h2>-->
      <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: transparent;">
      <mat-card class="name-logo-style">
        <mat-card-header class="header-name-logo-style">
                <form class="customer-find-label" [formGroup]="findForm" (ngSubmit)="findCustomerAndPopulateInfo()">
                      <input type="text" formControlName="customerId" placeholder="Search DNI:">
                      <!--  <div *ngIf="submittedGet && messageFormFindCustomer.controls.customerId.errors" class="error">
                          <div *ngIf="messageFormFindCustomer.controls.customerId.errors.required">DNI not found</div>
                        </div>-->
                        <input type="submit" value="Find" class="customer-button-search">
                  </form>
        </mat-card-header>
      </mat-card>


      </mat-grid-tile>
    <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: white;">
      <mat-card class="name-logo-style">
      <mat-card-header class="header-name-logo-style">
        <div mat-card-avatar class="example-header-image"></div>

       <mat-card-title class="title-info-style" *ngIf="!customerName"> - </mat-card-title>
       <mat-card-title class="title-info-style" *ngIf="customerName">{{customerName}}</mat-card-title>

       <mat-card-subtitle>Customer</mat-card-subtitle>
      </mat-card-header>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile class="grid-test-1" [colspan]="2" [rowspan]="1" style="background-color: aliceblue;">
      <mat-card class="more-info-style">
      <mat-card-header >
        <!--<div mat-card-avatar class="example-header-image"></div>

       <mat-card-title class="title-info-style" *ngIf="!customerName"> pepepepe </mat-card-title>
       <mat-card-title class="title-info-style" *ngIf="customerName">{{customerName}}</mat-card-title>
       <mat-card-subtitle>Customer</mat-card-subtitle>
-->
      <div class="label-isolate" *ngIf="!customerDni"> - </div>
      <div class="label-isolate" *ngIf="customerDni"> {{customerDni}} </div>
      <div class="label-isolate" *ngIf="!customerPhone"> - </div>
      <div class="label-isolate" *ngIf="customerPhone"> {{customerPhone}} </div>

      <div class="label-isolate" *ngIf="!customerAddress"> - </div>
      <div class="label-isolate" *ngIf="customerAddress"> {{customerAddress}}  </div>


      </mat-card-header>
      </mat-card>

    </mat-grid-tile>

        <!--<mat-card-content>
  <p>
    The Shiba Inu is the smallest
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>LIKE</button>
  <button mat-button>SHARE</button>
</mat-card-actions>-->



    </mat-grid-list>
  </mat-card-content>


<br><br>

      <mat-card-content>
    <!--<h2 class="example-h2">Material Grid List</h2>-->
    <mat-grid-list cols="3" rowHeight="120px">

      <mat-grid-tile style="background-color: aliceblue; left: 0px; width: calc(((32.3333% - 0.666667px) * 1) + 0px) !important ; top: 0px; height: calc(241px);" class=" mat-elevation-z8" [colspan]="1" [rowspan]="2" style="background-color: aliceblue;">

        Graphic


      </mat-grid-tile>
      <mat-grid-tile style="background-color: aliceblue; left: 0px; width: calc(((32.3333% - 0.666667px) * 1) + 0px)!important ; top: 0px; height: calc(241px);" class=" mat-elevation-z8" [colspan]="1" [rowspan]="2" style="background-color: aliceblue;">
        Relations
      </mat-grid-tile>
      <mat-grid-tile style="background-color: aliceblue; left: 0px; width: calc(((32.3333% - 0.666667px) * 1) + 0px)!important ; top: 0px; height: calc(241px);" class="mat-elevation-z8" [colspan]="1" [rowspan]="2" style="background-color: aliceblue;">
        Portfolio
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

<br><br>
  <!--<mat-card-content>
<h2 class="example-h2">Material Grid List</h2>-->




<!--<mat-grid-list cols="1" rowHeight="fit">
<mat-toolbar class="mat-elevation-z8">

  <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: aliceblue;">


  <!--<mat-toolbar class="mat-elevation-z8">
  <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: aliceblue;">
-->
    <!--<span *ngIf="!accounts">Search a customer...</span>
    <button *ngIf="customerDni" mat-raised-button class="button-add-account" (click)="openDialog()">Add</button>
    <span *ngIf="accounts === []">Any account found for this customer...</span>-->

    <mat-card-content class="mat-elevation-z8 global-position-header-style">
  <!--<h2 class="example-h2">Material Grid List</h2>-->
  <mat-grid-list cols="1" rowHeight="30px">
    <mat-grid-tile  [colspan]="1" [rowspan]="1" style="background-color: aliceblue;">
      <strong>Global position</strong>
      <!--<span *ngIf="!accounts">Search a customer...</span>
      <button *ngIf="customerDni" mat-raised-button class="button-add-account" (click)="openDialog()">Add</button>
      <span *ngIf="accounts === []">Any account found for this customer...</span>-->
    </mat-grid-tile>


    <mat-grid-tile *ngIf="!tableIsFilled" [colspan]="1" [rowspan]="1" style="background-color: white;">

      <span>Search a customer...</span>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card-content>
<div *ngIf="tableIsFilled">
  <mat-card-content class="mat-elevation-z8 global-position-header-style">
  <!--<h2 class="example-h2">Material Grid List</h2>-->
    <mat-grid-list cols="2" rowHeight="30px">

          <mat-grid-tile  [colspan]="1" [rowspan]="1" style="background-color: white;">


            <span *ngIf="!hasAccounts">Any account found for this customer...</span>

          </mat-grid-tile>

          <mat-grid-tile  [colspan]="1" [rowspan]="1" style="background-color: white;">

            <button mat-stroked-button class="button-add-account" (click)="openDialog()">Add</button>

          </mat-grid-tile>


    </mat-grid-list>
  </mat-card-content>
</div>

    <table *ngIf="tableIsFilled" mat-table
       [dataSource]="dataSourceAccounts" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedAccount ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.iban}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-weight"> {{element.amount}}(€)</div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedAccount === element"
      (click)="expandedAccount = expandedAccount === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>



<br><br><br>
<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->


  <!--</mat-grid-tile>

  </mat-toolbar>
</mat-grid-list>


</mat-card-content>
-->


<!-- /Material Grid List -->
<!--
<h1 [style.color]="h1Style ? 'gray': 'black'">Home</h1>
<button (click)="firstClick()">Click me</button>
<button (click)="invokePost()">Test POST </button>

<h1>Users</h1>

<ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
  </li>
</ul>-->
