<form (submit)="register()">
  <div class="form-group">
    <label for="name">Full name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password"
           [(ngModel)]="credentials.password">
  </div>
  <div class="form-group">
    <mat-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="selectRankExport" (ngModelChange)="setValue()" aria-label="Select a role">
      <mat-radio-button value="Admin">Administrator</mat-radio-button>
      <mat-radio-button  [checked]="true" style="margin-left:20px;" value="Advisor">Advisor</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="form-group button-style">
  <!--<button type="submit" class="btn btn-default">Register!</button>-->
  <input type="submit" value="Register!" class="cta">
  </div>
</form>


<!--

<form [formGroup]="messageForm" (ngSubmit)="register()">

    <h5 *ngIf="success">Your Register form is valid!</h5>

    <label>
      Full name:
      <input type="text" formControlName="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
      </div>
    </label>


    <label>
      Email address:
      <input type="text" formControlName="email" placeholder="Enter email" [(ngModel)]="credentials.email">
      <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
        <div *ngIf="messageForm.controls.email.errors.required">Your email is required</div>
      </div>
    </label>

    <label>
      Password:
      <input type="password" formControlName="password" placeholder="Password" [(ngModel)]="credentials.password">
      <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
        <div *ngIf="messageForm.controls.password.errors.required">Your password is required</div>
      </div>
    </label>


    <input type="submit" value="Send message" class="cta">

  </form>-->
