<mat-card-content>
<!--<h2 class="example-h2">Material Grid List</h2>-->
<mat-grid-list cols="3" rowHeight="60px">



  <section class="example-section">
    <mat-radio-group [(ngModel)]="mode">
      <mat-grid-tile class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <mat-radio-button class="customer-radio-button" value="addcustomer">
          Add customer
        </mat-radio-button>
      </mat-grid-tile>

      <mat-grid-tile class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <mat-radio-button class="customer-radio-button" value="deletecustomer">
          Delete customer
        </mat-radio-button>
      </mat-grid-tile>

      <mat-grid-tile class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <mat-radio-button class="customer-radio-button" value="updatecustomer">
          Update customer
        </mat-radio-button>
      </mat-grid-tile>
    </mat-radio-group>
  </section>

</mat-grid-list>
</mat-card-content>

<div class="customer-content-container" *ngIf="mode === 'addcustomer'">
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="500px">
      <mat-grid-tile class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <form class="customer-form-width" [formGroup]="form" (ngSubmit)="createCustomer()">

          <!--  <h5 *ngIf="success">Your form is valid!</h5>
-->
            <label>
              First name:
              <input type="text" formControlName="firstName">
            <!--  <div *ngIf="submitted && messageForm.controls.firstName.errors" class="error">
                <div *ngIf="messageForm.controls.firstName.errors.required">The first name is required</div>
              </div>-->
            </label>

            <label>
              Second name:
              <input type="text" formControlName="lastName">
            <!--  <div *ngIf="submitted && messageForm.controls.lastName.errors" class="error">
                <div *ngIf="messageForm.controls.lastName.errors.required">The last name is required</div>
              </div>-->
            </label>

            <!--<label>
              Home address:
              <input class="customer-input-field" type="text" formControlName="address">
             <div *ngIf="submitted && messageForm.controls.address.errors" class="error">
                <div *ngIf="messageForm.controls.address.errors.required">The address is required</div>
              </div>
            </label>-->

            <label>
              NIF/NIE:
              <input type="text" formControlName="dni">
            <!--  <div *ngIf="submitted && messageForm.controls.dni.errors" class="error">
                <div *ngIf="messageForm.controls.dni.errors.required">The NIF/NIE is required</div>
              </div>-->
            </label>

          <!--  <label>
              Email address:
              <input class="customer-input-field" type="text" formControlName="emailAddress">

            </label>-->
            <label>
              Home address:
              <input type="text" formControlName="address">
             <!--<div *ngIf="submitted && messageForm.controls.address.errors" class="error">
                <div *ngIf="messageForm.controls.address.errors.required">The address is required</div>
              </div>-->
            </label>

            <label>
              Phone number:
              <input type="text" formControlName="phone">
          <!--    <div *ngIf="submitted && messageForm.controls.phone.errors" class="error">
                <div *ngIf="messageForm.controls.phone.errors.required">The phone number is required</div>
              </div>-->
            </label>

            <input type="submit" value="Save customer" class="customer-button-add">

          </form>

          <!--<div *ngIf="submitted" class="results">
            <strong>Name:</strong>
            <span>{{ messageForm.controls.name.value }}</span>

            <strong>Message:</strong>
            <span>{{ messageForm.controls.message.value }}</span>
          </div>-->

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>

<div class="customer-content-container" *ngIf="mode === 'deletecustomer'">
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="200px">
      <mat-grid-tile class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <form class="customer-form-width" [formGroup]="deleteForm" (ngSubmit)="deleteCustomer()">


            <label>
              Put a valid DNI to delete the customer:
              <input type="text" formControlName="customerId">
                <div *ngIf="submitted && messageFormDeleteCustomer.controls.customerId.errors" class="error">
                  <div *ngIf="messageFormDeleteCustomer.controls.customerId.errors.required">The ID was not found</div>
                </div>
            </label>


            <input type="submit" value="Remove customer" class="customer-button-add">

          </form>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>

<div class="customer-content-container" *ngIf="mode === 'updatecustomer'">
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <form class="customer-form-width" [formGroup]="findForm" (ngSubmit)="findCustomer()">
              <span>Put a valid DNI to find a customer to update:</span>
              <input type="text" formControlName="customerId">
              <!--  <div *ngIf="submittedGet && messageFormFindCustomer.controls.customerId.errors" class="error">
                  <div *ngIf="messageFormFindCustomer.controls.customerId.errors.required">DNI not found</div>
                </div>-->
                <input type="submit" value="Find customer" class="customer-button-add button-find-style">

          </form>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>


  <mat-card-content *ngIf="updateCustomerForm">
    <mat-grid-list cols="1" rowHeight="500px">
      <mat-grid-tile class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <form class="customer-form-width" [formGroup]="updateForm" (ngSubmit)="updateCustomer()">

            <label>
              First name:
              <input matInput type="text" formControlName="firstNameUpdate">
            </label>

            <label>
              Second name:
              <input matInput type="text" formControlName="lastNameUpdate">
            </label>

            <label>
              NIF/NIE:
              <input matInput type="text" formControlName="dniUpdate">
            </label>

            <label>
              Home address:
              <input matInput type="text" formControlName="addressUpdate">
            </label>

            <label>
              Phone number:
              <input matInput type="text" formControlName="phoneUpdate">
            </label>

            <input type="submit" value="Update customer" class="customer-button-add">

          </form>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

</div>

<div class="customer-content-container" *ngIf="!mode">
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="500px">
      <mat-grid-tile *ngIf="!message" class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: white;">
      </mat-grid-tile>
      <mat-grid-tile *ngIf="message === 'addcustomer'" class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        The customer was added successfully.
      </mat-grid-tile>
      <mat-grid-tile *ngIf="message === 'deletecustomer'" class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        The customer was removed successfully.
      </mat-grid-tile>
      <mat-grid-tile *ngIf="message === 'updatecustomer'" class="mat-elevation-z4 grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        The customer was updated successfully.
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>
