<mat-card-content>
<!--<h2 class="example-h2">Material Grid List</h2>-->
<mat-grid-list cols="3" rowHeight="60px">



  <section class="example-section">
    <mat-radio-group [(ngModel)]="mode">
      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <mat-radio-button class="customer-radio-button" value="addcustomer">
          Add customer
        </mat-radio-button>
      </mat-grid-tile>

      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <mat-radio-button class="customer-radio-button" value="deletecustomer">
          Delete customer
        </mat-radio-button>
      </mat-grid-tile>

      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        <mat-radio-button class="customer-radio-button" value="updatecustomer">
          Update customer
        </mat-radio-button>
      </mat-grid-tile>
    </mat-radio-group>
  </section>

</mat-grid-list>
</mat-card-content>

<div class="customer-content-container" *ngIf="mode === 'addcustomer'">
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="500px">
      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: gray;">
        Create customer
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>

<div class="customer-content-container" *ngIf="mode === 'deletecustomer'">
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="500px">
      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: lightgray;">
        Delete customer
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>

<div class="customer-content-container" *ngIf="mode === 'updatecustomer'">
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="500px">
      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: darkgray;">
        Update customer
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>

<div class="customer-content-container" *ngIf="!mode">
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="500px">
      <mat-grid-tile class="grid-test-1" [colspan]="1" [rowspan]="1" style="background-color: white;">

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>
