.customer-radio-button {
  margin-top: 5px;
}

.customer-content-container {
  padding-bottom: 20px;
  margin-top: 10px;

}
label {
    display: block;

    input, textarea {
        display: block;
        width: 100%;
        height: 10px;
        margin-bottom: 20px;
        padding: 1em;
    }

    .error {
        margin-top: -20px;
        background: yellow;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
    }
}

.customer-button-add {
    background: #7700FF;
    border: none;
    color: white;
    margin: 21px -65px;
    position: relative;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}

.customer-form-width {
  width: 60%;
  /*margin-left: -300px; //apply when errors handler will be created*/
}
.customer-form-find {
  width: 100%;
  margin-top: -280px;
}
.customer-title-table {
  margin-bottom: 10px;
}
.input-find-style {
  margin-left: 10px;
  height: 10px;
  padding: 1em;
}
.button-find-style {
  margin-left: -280px;
}

.customer-button-add-2 {
  background: aliceblue;
  border: groove;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat';
  margin-right: 10px;
}

.customer-button-add-3 {
  background: aliceblue;
  border: groove;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat';
  margin-right: 40px;
}

